* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #071952;
  padding: 20px;
  color: #f2f7a1;
}

header h1 {
  max-width: 1200px;
  margin: auto;
  font-size: 2rem;
  text-align: center;
}

.mainContainer {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem;
  padding-bottom: 3rem;
}

.searchContainer {
  margin: 3rem 0 5rem;
  font-size: 1.2rem;
  color: #071952;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#searchByPrice input,
#searchByName input {
  font-size: 1.2rem;
  color: #071952;
  border: 2px solid #071952;
  padding: 5px;
  border-radius: 8px;
  outline: none;
}

#searchByPrice,
.categorys {
  display: flex;
  gap: 1.5rem;
}

#searchByPrice button,
.categorys button {
  background-color: #071952;
  color: #f2f7a1;
  min-width: 120px;
  font-size: 1.2rem;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
}

.categorys button.active {
  background-color: #f2f7a1;
  color: #071952;
  border: 2px solid #071952;
  font-weight: 600;
}

.products h2 {
  padding: 8px 15px;
  background-color: #071952;
  color: #f2f7a1;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5rem;
}

.product-card {
  /* border: 2px solid #071952; */
  max-width: 340px;
  border-radius: 15px;
  padding: 10px;
  background-color: #f2f7a1;
  font-size: 1.2rem;
  color: #071952;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #071952;
  margin-bottom: 1rem;
}

.product-card span {
  display: inline-block;
  margin-top: 0.8rem;
  padding: 5px 10px;
  background-color: #088395;
  color: #f2f7a1;
  border-radius: 5px;
}

@media (max-width: 1150px) {
  .productsContainer {
    justify-content: center;
  }
}

@media (max-width: 950px) {
  header h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .searchContainer {
    gap: 2.5rem;
    align-items: center;
    justify-content: stretch;
  }

  .categorys {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    justify-content: space-between;
  }

  .categorys button {
    width: calc(50% - 1rem);
  }

  #searchByName,
  #searchByPrice {
    width: 100%;
    max-width: 300px;
    flex-wrap: wrap;
  }

  #searchByPrice input,
  #searchByName input {
    width: 100%;
  }

  #searchByPrice button {
    width: 100%;
  }
}

@media (max-width: 315px) {
  .categorys button {
    width: 100%;
  }
}
