:root {
  --color-basic: #1e3d42;
  --color-background: #fafbff;
  --color-button: #c97417;
  --color-delete: #47221a;
  --color-input: #f1c682;
  --color-error: salmon;
  --color-success: limegreen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  color: #1e3d42;
}

main {
  width: 1000px;
  margin: auto;
  min-height: calc(100vh - 9.6rem);
}

.container {
  width: 100%;
  margin: 40px auto 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(30, 62, 67, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.input-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-section input {
  width: 100%;
  border: 1px solid var(--color-input);
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

.input-section input:focus {
  outline: none;
  border-width: 2px;
}

button {
  background-color: var(--color-button);
  color: var(--color-background);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button.active {
  padding: 8px 13px;
  border: 2px solid var(--color-button);
  background-color: var(--color-background);
  color: var(--color-button);
}

#delete-all {
  background-color: var(--color-delete);
}

.edit-cancel {
  display: none;
  gap: 10px;
}

.todo-operators {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-operators div button {
  margin-right: 10px;
}

#alert-box {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.alert {
  width: 100%;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
}

.alert-success {
  background-color: var(--color-success);
}

.alert-error {
  background-color: var(--color-error);
}

table {
  width: 100%;
}

th {
  background-color: var(--color-basic);
  color: var(--color-background);
  padding: 8px;
  width: 13%;
}

th:first-child {
  border-top-left-radius: 10px;
  width: 44%;
}

th:last-child {
  border-top-right-radius: 10px;
  width: 30%;
}

td {
  background-color: var(--color-background);
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid var(--color-basic);
}

td button {
  padding: 5px 10px;
  margin: 2px 4px;
  min-width: 53px;
}

td button:last-child {
  background-color: var(--color-delete);
}

footer {
  width: 100%;
  background-color: var(--color-basic);
  padding: 1.5rem;
  text-align: center;
  color: var(--color-background);
  margin-top: 3rem;
}

footer a {
  text-decoration: none;
  color: var(--color-input);
}
